@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

.main_box {
    background: url('21directoroffice.jpg') center no-repeat;
    position: relative;
    background-size: cover;
    height: 100vh;
    width: 100%;
}

.main_box .sidebar_menu {
    height: 100vh;
    background: rgba(255, 255, 255, 0.1);
    position: fixed;
    left: -280px;
    width: 280px;
    box-shadow: 0 0 6px rgba(255, 255, 255, 0.5);
}

.sidebar_menu .logo {
    height: 60px;
    width: 100%;
    box-shadow: 0 0 6px rgba(255, 255, 255, 0.5);
    position: absolute;
}

.sidebar_menu .logo a {
    color: white;
    font-size: 25px;
    font-weight: 500;
    position: absolute;
    left: 50px;
    line-height: 60px;
    text-decoration: none;
}

.sidebar_menu .menu {
    position: absolute;
    top: 80px;
    width: 100%;
}

.sidebar_menu .menu li {
    margin-top: 6px;
    padding: 14px 20px;
    transition: all 0.3s linear;
}

.sidebar_menu .menu i {
    color: white;
    font-size: 20px;
    padding-right: 8px;
}

.sidebar_menu .menu a {
    color: white;
    font-size: 20px;
    text-decoration: none;
}

.sidebar_menu .menu li:hover {
    border-left: 1px solid white;
    box-shadow: 0 0 4px rgba(255, 255, 255, 0.5);
}

.sidebar_menu .social_media {
    bottom: 20px;
    cursor: pointer;
    left: 50%;
    position: absolute;
    transform: translateX(-50%);
}

.social_media i {
    color: white;
    font-size: 20px;
    opacity: 0.6;
    padding: 0 5px;
    transition: all 0.2s linear;
}

.social_media i:hover {
    opacity: 1;
}

#check {
    display: none;
}

.main_box .btn_one i {
    color: white;
    font-size: 30px;
    font-weight: 700;
    position: absolute;
    left: 16px;
    line-height: 60px;
    cursor: pointer;
    opacity: 1;
    transition: all 0.3s linear;
}

.main_box .btn_two i {
    font-size: 25px;
    line-height: 60px;
    left: 240px;
    position: absolute;
    cursor: pointer;
    opacity: 1;
    transition: all 0.3s linear;
}

.btn_one i:hover {
    font-size: 29px;
}

.btn_two i:hover {
    font-size: 24px;
}

#check:checked ~.sidebar_menu {
    left: 0px;
}

#check:checked ~ .btn_one i {
    opacity: 0;
}

#check:checked ~ .sidebar_menu .btn_two i {
    opacity: 1;
}