@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

.main_box {
    background: url('21directoroffice.jpg') center no-repeat;
    position: relative;
    background-size: cover;
    height: 100vh;
    width: 100%;
}

.main_box .sidebar_menu {
    height: 100vh;
    background: rgba(255, 255, 255, 0.5);
    position: fixed;
    width: 280px;
    box-shadow: 0 0 6px rgba(255, 255, 255, 0.5);
}

.sidebar_menu .logo {
    height: 60px;
    width: 100%;
    box-shadow: 0 0 6px rgba(255, 255, 255, 0.5);
    position: absolute;
}

.sidebar_menu .logo a {
    color: white;
    font-size: 25px;
    font-weight: 500;
    position: absolute;
    left: 50px;
    line-height: 60px;
    text-decoration: none;
}

.sidebar_menu .menu {
    position: absolute;
    top: 80px;
    width: 100%;
}

.sidebar_menu .menu li {
    margin-top: 6px;
    padding: 14px 20px;
}

.sidebar_menu .menu i {
    color: white;
    font-size: 20px;
    padding-right: 8px;
}

.sidebar_menu .menu a {
    color: white;
    font-size: 20px;
    text-decoration: none;
}